.App {
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  font-size: 24px;
  color: white;
  padding: 36px;
}

@media only screen and (max-width: 500px) {
  .App {
    padding: 24px;
  }
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header img {
  padding-right: 10px;
}

.editor {
  border: 1px solid grey;
  padding: 12px;
  border-radius: 10px;
  min-height: 300px;
}

.button {
  width: 100px;
  margin-left: 10px;
  background-color: #2563eb;
  color: white;
  border-width: 0;
  font-weight: 600;
  border-radius: 10px;
  height: 40px;
}

.button:focus {
  outline: none;
  box-shadow: 0px 0px 5px #ddd, 0px 0px 5px #ddd;
}

div.DraftEditor-root {
  min-height: 200px;
}

div.DraftEditor-editorContainer,
div.public-DraftEditor-content {
  min-height: 200px;
}
